<fdp-form-group #fg>

  <!--  -->
  <ng-container *ngTemplateOutlet="content;context:{$implicit: fg}">
  </ng-container>


  <ng-template #content let-fg>
    <ng-container *ngTemplateOutlet="fields;context:{$implicit: fg}">
    </ng-container>
  </ng-template>
  <!---->

  <ng-template #fields let-fg>
    <app-wrapper>
      <fdp-form-field #ff
                      [formGroupContainer]="fg"
                      label="Default Input Field"
                      id="input1"
                      name="input1"
                      rank="1"
                      placeholder="Field placeholder text">

        <app-render [parent]="ff"></app-render>
      </fdp-form-field>
    </app-wrapper>
  </ng-template>
</fdp-form-group>



